<div class="x_title">
    <div>
        <h3>
            Calendar
            <small>What do you plan today</small>
        </h3>
    </div>
</div>
<div id="calendar-content"></div>
<!-- modal to create events starts-->
<div id="createEventModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3 id="myModalLabel1">Create Event</h3>
            </div>
            <div class="modal-body">
                <form id="createAppointmentForm" class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label">Title:</label>

                        <div class="controls">
                            <input type="text" name="appointmentTitle" id="appointmentTitle" tyle="margin: 0 auto;"
                                   data-provide="typeahead" data-items="4"
                                   data-source="[&quot;Value 1&quot;,&quot;Value 2&quot;,&quot;Value 3&quot;]">
                            <br>
                            <label class="control-label">Description:</label>
                            <textarea class="form-control" rows="2" id="detail" name="detail"></textarea>
                            <input type="hidden" id="apptStartTime"/>
                            <input type="hidden" id="apptEndTime"/>
                            <input type="hidden" id="apptAllDay"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="when">When:</label>

                        <div class="controls controls-row" id="when" style="margin-top:5px;">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button type="submit" class="btn btn-primary" id="submitButton">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- modal to create events ends-->
<!-- modal to display alread created events starts-->
<div id="fullCalModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 id="modalTitle" class="modal-title"></h4>
            </div>
            <div id="modalBody" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- modal to display alread created events ends-->

<script>
    /*$(document).ready(function () {

     // page is now ready, initialize the calendar...

     $('#calendar').fullCalendar({
     // put your options and callbacks here

     /!*dayClick: function(date, jsEvent, view) {


     alert('Clicked on: ' + new Date().getTime());
     },*!/
     dayClick: function (start) {
     var title = prompt('Event Title:');
     if (title) {
     $('#calendar').fullCalendar('renderEvent',
     {
     title: title,
     start: start
     //allDay: allDay
     },
     true // make the event "stick"
     );
     /!**
     * ajax call to store event in DB
     *!/
     /!*jQuery.post(
     "event/new" // your url
     , { // re-use event's data
     title: title,
     start: start,
     end: end,
     allDay: allDay
     }
     );*!/
     }
     //$('#calendar').fullCalendar('unselect');
     },
     eventClick: function (calEvent, jsEvent, view) {
     //alert('Event:' + calEvent.title);
     },

     header: {
     left: 'prev,next today',
     center: 'title',
     right: 'month,agendaWeek,agendaDay'
     },
     editable: true,
     eventLimit: true, // allow "more" link when too many events
     events: [
     {
     title: '1st Task',
     start: '2016-04-25'
     },
     {
     title: '2nd Task',
     start: '2016-04-25'
     },
     {
     title: '3rd Task',
     start: '2016-04-25'
     },
     {
     title: 'Meeting with moitra siddhatha for disscussion over lunch',
     start: '2016-04-24T10:30:00',
     end: '2016-04-24T12:30:00'
     },
     {
     title: 'Lunch',
     start: '2016-04-24T12:00:00',
     end: '2016-04-24T13:00:00'
     },
     {
     title: 'Meeting',
     start: '2016-04-24T14:30:00'
     },
     {
     title: 'Happy Hour',
     start: '2016-04-24T17:30:00'
     },
     {
     title: 'Badminton',
     start: '2016-04-24T20:00:00',
     end: '2016-04-24T22:00:00'
     },
     {
     title: 'Dinner',
     start: '2016-04-24T22:30:00'
     },
     {
     title: 'Sleep',
     start: '2016-04-24T23:00:00',
     end: '2016-04-25T07:00:00'
     }
     ]
     })

     });*/
    $(document).ready(function () {

        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            eventClick: function (event, jsEvent, view) {
                $('#modalTitle').html(event.title);
                $('#modalBody').html(event.detail);
                //console.log(event.detail);
                //$('#eventUrl').attr('href',event.url);
                $('#fullCalModal').modal();
            },
            /*eventAfterAllRender: function(view) {
             $(".fc-content").append( "<i class='fa fa-times' aria-hidden='true'></i>" );
             },*/
            eventRender: function(event, element) {
                element.append( "<span class='closeon'>X</span>" );
                element.find(".closeon").click(function() {
                    //console.log("here clicked");
                    $('#calendar').fullCalendar('removeEvents',event._id);
                });
            },
            defaultView: 'month',
            editable: true,
            eventLimit: true,
            selectable: true,
            events: [
                {
                    title: '1st Task',
                    start: '2016-04-25'
                },
                {
                    title: '2nd Task',
                    start: '2016-04-25'
                },
                {
                    title: '3rd Task',
                    start: '2016-04-25'
                },
                {
                    title: 'Meeting with moitra siddhatha for disscussion over lunch',
                    start: '2016-04-24T10:30:00',
                    end: '2016-04-24T12:30:00',
                    detail: 'to  discussion things which are not working and we should fix it'
                }],
            //header and other values
            select: function (start, end, allDay) {
                var starttime = moment(start).format('YYYY-MM-DDTHH:mm:ssZ');
                var endtime = moment(end).format('YYYY-MM-DDTHH:mm:ssZ');
                var mywhen = starttime + ' - ' + endtime;
                $('#apptStartTime').val(starttime);
                $('#apptEndTime').val(endtime);
                $('#apptAllDay').val(allDay);
                $('#when').text(mywhen);

                $('#createEventModal').modal('show');
            }
        });

        $('#submitButton').on('click', function (e) {
            // We don't want this to act as a link so cancel the link action
            e.preventDefault();

            doSubmit();
        });

        function doSubmit() {
            $("#createEventModal").modal('hide');

            $("#calendar").fullCalendar('renderEvent',
                    {
                        title: $('#appointmentTitle').val(),
                        detail: $('#detail').val(),
                        start: $('#apptStartTime').val(),
                        end: $('#apptEndTime').val(),
                        allDay: ($('#apptAllDay').val() == "true")
                    },
                    true);
        }
    });
</script>