<form>
    <fieldset class="form-group">
        <!-- Form Name -->
        <legend>
            Add Taskgroup
        </legend>

        <label for="taskgroup-name">Taskgroup Name:</label>
        <div class="input-group">
            <input id="taskgroup-name" name="taskgroup-name" class="form-control" placeholder="Your taskgroup name" type="text">
            <span class="input-group-addon"></span>
        </div>
        <div>
            <small class="text-muted">Taskgroup is the container for all your task.</small>
        </div>

        <br>
        <button type="button" class="btn btn-primary" onclick="javascript: add_taskgroup_name();">Add</button>
    </fieldset>
</form>