<input type="hidden" id="aet-entity" value="">
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#task-details" data-toggle="tab">Task Details</a></li>
        <li id="associatedNotes"><a href="#notes-association" data-toggle="tab">Notes Association</a></li>
        <li id="associatedEmails"><a href="#emails-association" data-toggle="tab">Email Association</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="task-details">

        </div>
        <div class="tab-pane" id="notes-association">
            <br>
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#existing-note-association" data-toggle="tab">Existing Association</a>
                    </li>
                    <li><a href="#new-note-association" data-toggle="tab">Add New Association</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="existing-note-association">
                        <div class="clearfix" style="min-height: 60%;">

                        </div>
                        <div class="clearfix" style="vertical-align: bottom;">
                            <button type="submit" class="btn btn-danger"
                                    onclick="javascript: remove_association_task_to_note(); "
                                    title="Remove selected note association">Remove Association
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <div class="tab-pane" id="new-note-association">
                        <div class="clearfix">
                            <div class="col-md-12">
                                <div class="input-group" style="padding: 10px;">
                                    <input type="text" class="form-control" id="search-notes"
                                           placeholder="Search Notes">

                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"
                                                onclick="javascript: search_notes();">
                                            <i class="glyphicon glyphicon-search"/>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="col-md-12" id="aet-note-search">

                            </div>
                        </div>
                        <div class="clearfix">
                            <button type="submit" class="btn btn-success"
                                    onclick="javascript: create_association_task_to_note(); ">Add Association
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="tab-pane" id="emails-association">
            <br>
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#existing-email-association" data-toggle="tab">Existing Association</a>
                    </li>
                    <li><a href="#new-email-association" data-toggle="tab">Add New Association</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="existing-email-association">
                        <div class="clearfix" style="min-height: 60%;">

                        </div>
                        <div class="clearfix" style="vertical-align: bottom;">
                            <button type="submit" class="btn btn-danger"
                                    onclick="javascript: remove_association_task_to_email(); "
                                    title="Remove selected note association">Remove Association
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <div class="tab-pane" id="new-email-association">
                        <div class="clearfix">
                            <div class="col-md-12">
                                <div class="input-group" style="padding: 10px;">
                                    <input type="text" class="form-control" id="search-emails"
                                           placeholder="Search Emails">

                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"
                                                onclick="javascript: search_emails();">
                                            <i class="glyphicon glyphicon-search"/>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="col-md-12" id="aet-email-search">

                            </div>
                        </div>
                        <div class="clearfix">
                            <button type="submit" class="btn btn-success"
                                    onclick="javascript: create_association_task_to_email(); ">Add Association
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>