<div class="clearfix">
    <div class="col-md-4" style="padding-left: 6%;">
        <!--<label><%- rc.notebook.notebookName %></label>-->
        <input type="text" class="form-control" value="<%- rc.notebook.notebookName %>" readonly style="background-color: #37BC99;color: white;width: 80%;">
        <input type="hidden" value="<%- rc.notebook.id %>" id="selected-noteBookID" readonly>
        <input type="hidden" value="<%- rc.taskID %>" id="selected-noteTaskID" readonly>
    </div>
    <div class="col-md-4" style="padding-top: 1%;">
        <select id="select-noteBook-section" class="btn btn-info" title="Select Section">
            <option value="-1" selected="selected">Select Section</option>
            <% _.each(rc.notebook.notebookSectionArray, function(section, index){ %>
            <% var sectionHtmlID = get_html_id_from_internal_id(section.id); %>
            <option value="<%- sectionHtmlID %>"> <%- section.sectionName %></option>

            <% }); %>
        </select>

    </div>
    <div class="col-md-4" style="padding-top: 1%;">
        <select id="select-section-page" class="btn btn-info" title="Select Page">
            <option value="-1" selected="selected">Select Page</option>
            <% _.each(rc.notebook.notebookSectionArray, function(section, index){ %>
            <% var sectionHtmlID = get_html_id_from_internal_id(section.id); %>
            <% _.each(section.notebookSectionPageArray, function(page, index){ %>
            <% var pageHtmlID = get_html_id_from_internal_id(page.id); %>
            <option value="<%- pageHtmlID %>" class="<%- sectionHtmlID %> hide"> <%- page.pageName %></option>
            <% }); %>
            <% }); %>
        </select>
    </div>
</div>
<br>
<div class="clearfix">
    <div class="form-group">
        <div class="col-lg-12">
            <div class='panel-body' id="create-note-body-task-modal">

            </div>
        </div>
    </div>
</div>

<div>
    <button type="button" class="btn btn-success" onclick="javascript: create_note_from_task(event); ">Update</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>