 <div class="form-group">
    <input type="hidden" class="form-control" id="mTaskId" value="<%- rc.task.id%>">
    <div class="form-group">
        <label for="mTaskTitle">Task Title</label>
        <% if(rc.task.status == TASK_COMPLETE) {%>
        <input type="text" class="form-control" id="mTaskTitle" placeholder="Enter task title" value="<%- rc.task.title%>" disabled>
        <% } else {%>
        <input type="text" class="form-control" id="mTaskTitle" placeholder="Enter task title" value="<%- rc.task.title%>">
        <% } %>
    </div>
    <div class="form-group">
        <label for="mTaskCreated">Created On</label>
        <input type="text" class="form-control" id="mTaskCreated" value="<%- rc.task.createdTimeString %>" disabled >
    </div>
    <div class="form-group">
        <label for="mTaskDue">Due Date</label>
        <input type="text" class="form-control" id="mTaskDue" placeholder="Enter task due date" value="<%- get_js_date_short(rc.task.dueDate) %>" >
    </div>
    <div class="form-group">
        <label for="mTaskStatus">Task Status</label>
        <select class="form-control" id="mTaskStatus">
            <% if(rc.task.status == TASK_OPEN) { %>
            <option value="1" selected>OPEN</option>
            <option value="2">COMPLETE</option>
            <% } else if(rc.task.status == TASK_COMPLETE) { %>
            <option value="1">OPEN</option>
            <option value="2" selected>COMPLETE</option>
            <% } %>
        </select>
    </div>
    <div class="form-group">
        <label for="mTaskPriority">Task Priority</label>
        <select class="form-control" id="mTaskPriority">
            <% if(rc.task.priority == TASK_PRIORITY_HIGH) { %>
            <option value="1" selected>HIGH</option>
            <option value="2">MEDIUM</option>
            <option value="3">LOW</option>
            <option value="4">TRIVIAL</option>
            <% } else if(rc.task.priority == TASK_PRIORITY_MEDIUM) { %>
            <option value="1">HIGH</option>
            <option value="2" selected>MEDIUM</option>
            <option value="3">LOW</option>
            <option value="4">TRIVIAL</option>
            <% } else if(rc.task.priority == TASK_PRIORITY_LOW) { %>
            <option value="1">HIGH</option>
            <option value="2">MEDIUM</option>
            <option value="3" selected>LOW</option>
            <option value="4">TRIVIAL</option>
            <% } else if(rc.task.priority == TASK_PRIORITY_TRIVIAL) { %>
            <option value="1">HIGH</option>
            <option value="2">MEDIUM</option>
            <option value="3">LOW</option>
            <option value="4" selected>TRIVIAL</option>
            <% } %>
        </select>
    </div>
    <div class="form-group">
        <label for="at-label-task">Labels</label>
        <ul id="at-label-task">
            <% _.each(rc.task.labels, function(label, index){ %>
            <li><%- label.labelName %></li>
            <% }); %>
        </ul>
    </div>
    <!--<div class="form-group">
        <label for="mTaskDesc">Description</label>
        <textarea class="form-control" id="mTaskDesc" rows="3"></textarea>
    </div>-->
     <% if(rc.task.status == TASK_OPEN) {%>
     <button type="button" class="btn btn-primary" onclick="javascript: update_task();">Update</button>
     <% } %>

 </div>