<table class="table table-responsive table-striped">
    <tbody>
        <tr>
            <td>
                <label>Title</label>
            </td>
            <td>
                <%- rc.task.title%>
            </td>
        </tr>
        <tr>
            <td>
                <label>Created on</label>
            </td>
            <td>
                <%- rc.task.createdTimeString %>
            </td>
        </tr>
        <tr>
            <td>
                <label>Due date</label>
            </td>
            <td>
                <%- get_js_date(rc.task.dueDate) %>
            </td>
        </tr>
        <tr>
            <td>
                <label>Status</label>
            </td>
            <td>
                <%- get_task_status_string(rc.task.status)%>
            </td>
        </tr>
        <tr>
            <td>
                <label>Priority</label>
            </td>
            <td>
                <%- get_task_priority_string(rc.task.priority)%>
            </td>
        </tr>
        <tr>
            <td>
                <label>Labels</label>
            </td>
            <td>
                <ul id="at-label-task">
                    <% _.each(rc.task.labels, function(label, index){ %>
                    <li><%- label.labelName %></li>
                    <% }); %>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <label>Task Description</label>
            </td>
            <td>
                <div>
                    <%- rc.task.taskBody %>
                </div>
            </td>
        </tr>
    </tbody>
</table>
