<div id="task-header" class="row no-margin">
    <div class="col-lg-3 col-md-3 col-xs-12">
        <input type="text" class="form-control" id="select-task-group" readonly
               style="background-color: #37BC99;color: white;width: 80%;">
        <input type="hidden" id="tGroupID" readonly>
    </div>
    <div class="col-lg-7 col-md-7 col-xs-12">
        <div id="add-task">
            <form class="form-inline" id="taskCreationForm">
                <div class="form-group" style="width: 100%;">
                    <div class="input-group" style="width: inherit;">
                        <input type="text" class="form-control" placeholder="Add Task"
                               id="inputAddTask" maxlength="120" required>
                                    <span class="input-group-addon" style="padding: 0;border: 0;width: 100px;">
                                       <input type="text" class="form-control" id="dueDate" style="background: #fff;"
                                              placeholder="Select Due Date" required>
                                    </span>

                                    <span class="input-group-addon"
                                          style="font-size: smaller; background-color: #F3F3F3; padding-left: 3px;padding-right:3px; ">
                                        <a href="#"><i class="fa fa-plus" id="btn-add-task" onclick="javascript: add_new_task();"></i></a>
                                    </span>
                    </div>
                </div>
                            <span class="pull-right" style="padding-right: 3px;">
                                <a href="#"><input type="button"
                                                   style="background-color: transparent;outline: none;cursor: pointer;border: none;"
                                                   class="pull-right" name="reset_form" value="RESET"
                                                   onclick="this.form.reset();"></a>
                            </span>
            </form>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-xs-12">
        <div class="pull-right">
            <a href="#" class="edit-task-groups" onclick="javascript: show_modal_edit_task_groups();">
                <span class="label label-info label-as-badge"><i class="fa fa-edit"></i>&nbsp; Edit Task Groups</span>
            </a>
        </div>
    </div>
</div>
<div id="taskgroup-content">
    <div id="task-container">
        <div id="task-content">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#task-active">Active</a></li>
                <li><a data-toggle="tab" href="#task-overdue">Overdue</a></li>
                <li><a data-toggle="tab" href="#task-complete">Completed</a></li>
            </ul>
        </div>

        <div class="tab-content">
            <div id="task-active" class="tab-pane active">
                <div class="panel panel-default">
                    <!-- List of tasks: Active Today -->
                    <div class="panel-heading">
                        <h6 class="panel-title">
                            <i>Active tasks</i>
                        </h6>
                    </div>
                    <div class="panel-body">
                        <table id="table-task-active" class="table table-striped">
                            <thead>
                            <tr>
                                <th>Priority</th>
                                <th>Task</th>
                                <th>Due date</th>
                                <th class="no-sort">Labels</th>
                                <th class="no-sort"></th>
                            </tr>
                            </thead>
                            <!--<tfoot>
                            <tr>
                                <th>Priority</th>
                                <th>Task</th>
                                <th class="no-sort">Labels</th>
                                <th class="no-sort"></th>
                            </tr>
                            </tfoot>-->
                            <tbody>
                            <% _.each(rc.tasks.openTaskList, function(task, index) { %>
                            <% var taskHtmlID = get_html_id_from_internal_id(task.id); %>
                            <tr id="<%- taskHtmlID%>">
                                <td style="color: #3B5998;"><b><%- get_task_priority_name(task.priority) %></b></td>
                                <td><%- task.title%></td>
                                <td><%- get_js_date(task.dueDate) %></td>
                                <td>
                                    <% _.each(task.labels, function(label, index){ %>
                                    <span class='label label-as-badge label-warning tags' onclick="javascript: load_tagged_entities_by_label_name(event);"><%- label.labelName %></span>
                                    <% }); %>
                                </td>
                                <td>
                                    <a href="#" class="task-edit" style="padding-right: 6%;" onclick="javascript: load_associative_editor_task(event);"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a href="#" class="create-note-forTask" style="padding-right: 6%;" onclick="javascript: load_note_editor_from_task(event);"><i class="fa fa-file-text" aria-hidden="true"></i></a>
                                    <a href="#" class="task-delete" style="padding-right: 6%;" onclick="javascript: delete_task(event);"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- /task-active -->

            <div id="task-overdue" class="tab-pane">
                <div class="panel panel-default">
                    <!-- List of tasks: Active Today -->
                    <div class="panel-heading">
                        <h6 class="panel-title">
                            <i>Overdue tasks</i>
                        </h6>
                    </div>
                    <div class="panel-body">
                        <table id="table-task-overdue" class="table table-responsive table-striped">
                            <thead>
                            <tr>
                                <th>Priority</th>
                                <th>Task</th>
                                <th>Due date</th>
                                <th class="no-sort">Labels</th>
                                <th class="no-sort"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <% _.each(rc.tasks.overdueTaskList, function(task, index) { %>
                            <% var taskHtmlID = get_html_id_from_internal_id(task.id); %>
                            <tr id="<%- taskHtmlID%>">
                                <td style="color: red;"><b><%- get_task_priority_name(task.priority) %></b></td>
                                <td><%- task.title%></td>
                                <td><%- get_js_date(task.dueDate) %></td>
                                <td>
                                    <% _.each(task.labels, function(label, index){ %>
                                <span class='label label-as-badge label-warning tags' onclick="javascript: load_tagged_entities_by_label_name(event);">
                                    <%- label.labelName %>
                                </span>
                                    <% }); %>
                                </td>
                                <td>
                                    <a href="#" style="padding-right: 6%;" onclick="javascript: load_associative_editor_task(event);">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" style="padding-right: 6%;" onclick="javascript: load_note_editor_from_task(event);">
                                        <i class="fa fa-file-text" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" style="padding-right: 6%;" onclick="javascript: delete_task(event);">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- /task-overdue -->

            <div id="task-complete" class="tab-pane">
                <div class="panel panel-default">
                    <!-- List of tasks: Active Today -->
                    <div class="panel-heading">
                        <h6 class="panel-title">
                            <i>Complete tasks</i>
                        </h6>
                    </div>
                    <div class="panel-body">
                        <table id="table-task-complete" class="table table-striped">
                            <thead>
                            <tr>
                                <th>Priority</th>
                                <th>Task</th>
                                <th>Due date</th>
                                <th class="no-sort">Labels</th>
                                <th class="no-sort"></th>
                            </tr>
                            </thead>
                            <!--<tfoot>
                            <tr>
                                <th>Priority</th>
                                <th>Task</th>
                                <th class="no-sort">Labels</th>
                                <th class="no-sort"></th>
                            </tr>
                            </tfoot>-->
                            <tbody>
                            <% _.each(rc.tasks.completeTaskList, function(task, index) { %>
                            <% var taskHtmlID = get_html_id_from_internal_id(task.id); %>
                            <tr id="<%- taskHtmlID%>">
                                <td style="color: #1ABC9C;"><b><%- get_task_priority_name(task.priority) %></b></td>
                                <td><%- task.title%></td>
                                <td><%- get_js_date(task.dueDate) %></td>
                                <td>
                                    <% _.each(task.labels, function(label, index){ %>
                                    <span class='label label-as-badge label-warning tags' onclick="javascript: load_tagged_entities_by_label_name(event);"><%- label.labelName %></span>
                                    <% }); %>
                                </td>
                                <td>
                                    <a href="#" class="task-edit" style="padding-right: 6%;" onclick="javascript: load_associative_editor_task(event);"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a href="#" class="create-note-forTask" style="padding-right: 6%;" onclick="javascript: load_note_editor_from_task(event);"><i class="fa fa-file-text" aria-hidden="true"></i></a>
                                    <a href="#" class="task-delete" style="padding-right: 6%;" onclick="javascript: delete_task(event);"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- /task-complete -->

        </div>
    </div>
</div>