<div class="modal fade" id="base-modal-sm" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="height: 10%;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">

                </h5>
            </div>
            <div class="modal-body text-center" style="height: 80%;">
                <h3><i class="fa fa-cog fa-spin"></i> Requesting API for data... </h3>
            </div>
            <div class="modal-footer" style="height: 10%;">

            </div>
        </div>
    </div>
</div>
