<div id="edit-notebooks" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit your notebook details:</h4>
            </div>
            <div class="modal-body">
                <div id="edit-notebooks-message" class="alert" style="display: none;"></div>
                <table id="list-notebooks" class="table table-sm table-responsive table-hover">
                    <thead>
                    <tr>
                        <th>Notebook</th>
                        <th>Created on</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% _.each(USR_PROFILE.getNotebooks(), function(notebook, index) { %>
                    <tr>
                        <td>
                            <input type="hidden" value="<%- notebook.id %>">
                            <input class="form-control input-sm type1" type="text" value="<%- notebook.notebookName %>">
                        </td>
                        <td><%- get_js_date(notebook.createdTime) %></td>
                        <td>
                            <a  class="label label-success label-as-badge update-notebook">
                                <i class="fa fa-save"> Update</i>
                            </a>
                        </td>
                        <td>
                            <a class="label label-danger label-as-badge delete-notebook disabled">
                                <i class="fa fa-trash"> Delete</i>
                            </a>
                        </td>
                        <!--<td class="processing">
                            <i class="fa fa-refresh fa-spin fa-fw"></i>
                            <span>Processing...</span>
                        </td>-->
                    </tr>
                    <% }) %>
                    <tr>
                        <td style="border: none;">
                            <a href="#" id="add-notebook" class="disabled">
                                <i class="fa fa-plus-square"> Add new notebook</i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    function init_edit_notebooks() {
        $('#edit-notebooks').on('hidden.bs.modal', function () {
            $('table#list-notebooks tbody').children('tr>td.hidden').removeClass('visible');
            $('#edit-notebooks-message').empty();
            $('#edit-notebooks-message').css('display', 'none');
            $('#edit-notebooks-message').removeClass('alert-danger');
            $('#edit-notebooks-message').removeClass('alert-success');
            // Remove all notebooks that were not persisted
            $('#list-notebooks>tbody').children('tr.new').remove();
            $(this).remove();
            $('.modal-backdrop').remove();
        });

        $('a.update-notebook').click(function() {
            var $this = $(this);
            $this.parent().parent().children('td.hidden').toggleClass('visible');

            // Clone exiting notebook object
            var notebookID = $(this).parent().prev().prev().children('input:first-child').attr('value');
            var notebookName = $(this).parent().prev().prev().children('input:nth-child(2)').val();
            var createdTime = USR_PROFILE.getNotebook(notebookID).createdTime;
            var newNotebook = new Object();
            newNotebook.notebookName = notebookName;
            newNotebook.createdTime = createdTime;
            newNotebook.id = notebookID;
            // Prepare datamap
            // Get page notes
            var map = new Map();
            map.set("{notebookID}", notebookID);
            // Send request
            put_update_notebook_call(map, newNotebook, true, function(api_notebook){
                $this.parent().parent().children('td.hidden').toggleClass('visible');

                if (api_notebook instanceof DigitaryWebError) {
                    $this.parent().prev().prev().children('input:nth-child(2)').val(USR_PROFILE.getNotebook(notebookID).notebookName);
                    $('#edit-notebooks-message').addClass('alert-danger');
                    $('#edit-notebooks-message').empty();
                    $('#edit-notebooks-message').append("<i class='fa fa-times-circle'></i> Cannot update notebook: " + api_notebook.error.causeMessage);
                } else {
                    USR_PROFILE.updateNotebook(newNotebook);
                    $('#edit-notebooks-message').addClass('alert-success');
                    $('#edit-notebooks-message').empty();
                    $('#edit-notebooks-message').append("<i class='fa fa-thumbs-o-up'></i> Successfully updated notebook.");
                }
                $('#edit-notebooks-message').css('display', 'block');
            })

        });
        $('a.delete-notebook').click(function() {

        });

        $('#add-notebook').on('click', function (e) {
            e.preventDefault();
            var html = "<tr class='new'><td><input type='hidden' value='newNotebook'><input class='form-control input-sm type1' type='text' value='Untitled Notebook'>";
            html = html + "</td> <td>" + get_js_date(new Date().getTime()) + "</td>";
            html = html + "<td><a  class='label label-success label-as-badge add-notebook'><i class='fa fa-save'> Update</i></a></td>";
            html = html + "<td><a class='label label-danger label-as-badge remove-notebook'><i class='fa fa-trash'> Delete</i></a></td></tr>";
            var $this = $(e.target).parent().parent().parent();
            // Add to the table
            $(html).insertBefore($this);
        });
    }
</script>