<div id="edit-task-groups" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit your Task Group details:</h4>
            </div>
            <div class="modal-body">
                <div id="edit-task-groups-message" class="alert" style="display: none;"></div>
                <table id="list-task-groups" class="table table-sm table-responsive table-hover">
                    <thead>
                    <tr>
                        <th>Task Group</th>
                        <th>Created on</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% _.each(USR_PROFILE.getTaskGroups(), function(taskGroup, index) { %>
                    <tr>
                        <td>
                            <input type="hidden" value="<%- taskGroup.id %>">
                            <input class="form-control input-sm type1" type="text" value="<%- taskGroup.taskGroupName %>">
                        </td>
                        <td><%- get_js_date(taskGroup.createdTime) %></td>
                        <td>
                            <a  class="label label-success label-as-badge update-task-group">
                                <i class="fa fa-save"> Update</i>
                            </a>
                        </td>
                        <td>
                            <a class="label label-danger label-as-badge delete-task-group disabled">
                                <i class="fa fa-trash"> Delete</i>
                            </a>
                        </td>
                        <!--<td class="processing">
                            <i class="fa fa-refresh"></i>
                            <span>Processing...</span>
                        </td>-->
                    </tr>
                    <% }) %>
                    <tr>
                        <td style="border: none;">
                            <a href="#" id="add-task-group" class="disabled">
                                <i class="fa fa-plus-square"> Add new task group</i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
    function init_edit_task_groups() {

        $('#edit-task-groups').on('hidden.bs.modal', function () {
            $('table#list-task-groups tbody').children('tr>td.hidden').removeClass('visible');
            $('#edit-task-groups-message').empty();
            $('#edit-task-groups-message').css('display', 'none');
            $('#edit-task-groups-message').removeClass('alert-danger');
            $('#edit-task-groups-message').removeClass('alert-success');
            // Remove all notebooks that were not persisted
            $('#list-task-groups>tbody').children('tr.new').remove();
            $(this).remove();
            $('.modal-backdrop').remove();
        });

        $('body').on("click","a.update-task-group",function() {
            if($(this).closest('.new').length>0) {
                //var taskGroupID = $(this).parent().prev().prev().children('input:first-child').attr('value');
                var taskGroupName = $(this).parent().prev().prev().children('input:nth-child(2)').val();
                //var createdDate = USR_PROFILE.getTaskGroup(taskGroupID).createdDate;
                var newTaskGroup = new Object();
                newTaskGroup.taskGroupName = taskGroupName;
                newTaskGroup.createdTime = moment().utc().valueOf();
                //Send request
                create_task_group_call(newTaskGroup, false, function(taskGroup){
                    if (taskGroup instanceof DigitaryWebError) {
                        $('#edit-task-groups-message').addClass('alert-danger');
                        $('#edit-task-groups-message').empty();
                        $('#edit-task-groups-message').append("<i class='fa fa-times-circle'></i> Cannot Create TaskGroup: " + taskGroup.error.causeMessage);
                    } else {
                        USR_PROFILE.addTaskGroup(newTaskGroup);
                        $('#edit-task-groups-message').addClass('alert-success');
                        $('#edit-task-groups-message').empty();
                        $('#edit-task-groups-message').append("<i class='fa fa-thumbs-o-up'></i> Successfully created TaskGroup.");
                        $('#select-task-group').append("<option value='" + newTaskGroup.id + "'>" + taskGroup.taskGroupName + "</option>");
                    }
                    $('#edit-task-groups-message').css('display', 'block');
                });
            }
            else{
                var $this = $(this);
                $this.parent().parent().children('td.hidden').toggleClass('visible');
                //alert("Clicked anchor with div parent class as last");
                // Clone exiting taskgroup object
                var taskGroupID = $(this).parent().prev().prev().children('input:first-child').attr('value');
                var taskGroupName = $(this).parent().prev().prev().children('input:nth-child(2)').val();
                var createdTime = USR_PROFILE.getTaskGroup(taskGroupID).createdTime;
                var newTaskGroup = new Object();
                newTaskGroup.taskGroupName = taskGroupName;
                newTaskGroup.createdTime = createdTime;
                newTaskGroup.id = taskGroupID;
                // Prepare datamap
                var map = new Map();
                map.set("{taskGroupID}", taskGroupID);

                // Send request
                update_task_group_call(map, newTaskGroup, true, function (taskGroup) {
                    //$this.parent().parent().children('td.hidden').toggleClass('visible');

                    if (taskGroup instanceof DigitaryWebError) {
                        //$this.parent().prev().prev().children('input:nth-child(2)').val(USR_PROFILE.getTaskGroup(taskGroupID).taskGroupName);
                        $('#edit-task-groups-message').addClass('alert-danger');
                        $('#edit-task-groups-message').empty();
                        $('#edit-task-groups-message').append("<i class='fa fa-times-circle'></i> Cannot update TaskGroup: " + taskGroup.error.causeMessage);
                    } else {
                        USR_PROFILE.updateTaskGroup(newTaskGroup);
                        $('#edit-task-groups-message').addClass('alert-success');
                        $('#edit-task-groups-message').empty();
                        $('#edit-task-groups-message').append("<i class='fa fa-thumbs-o-up'></i> Successfully updated TaskGroup.");
                    }
                    $('#edit-task-groups-message').css('display', 'block');
                });
            }

        });
        $('a.delete-task-group').click(function() {
            var taskGroupID = $(this).parent().prev().prev().prev().children('input:first-child').attr('value');

            var map = new Map();
            map.set("{taskGroupID}", taskGroupID);
            //console.log(newTaskGroup.id);
            // Send request
            delete_task_group_call(map, true, function(taskGroup){
                if (taskGroup instanceof DigitaryWebError) {
                    $('#edit-task-groups-message').addClass('alert-danger');
                    $('#edit-task-groups-message').empty();
                    $('#edit-task-groups-message').append("<i class='fa fa-times-circle'></i> Cannot delete TaskGroup: " + taskGroup.error.causeMessage);
                } else {
                    USR_PROFILE.deleteTaskGroup(taskGroupID);
                    $('#edit-task-groups-message').addClass('alert-success');
                    $('#edit-task-groups-message').empty();
                    $('#edit-task-groups-message').append("<i class='fa fa-thumbs-o-up'></i> Successfully deleted TaskGroup.");
                    //$(this).closest('tr').remove();
                }
                $('#edit-task-groups-message').css('display', 'block');
            });
        });
        $('#add-task-group').on('click', function(e) {
            e.preventDefault();
            var html = "<tr class='new'><td><input type='hidden' value='newTaskGroup'><input class='form-control input-sm type1' type='text' value='Untitled Task Group'>";
            html = html + "</td> <td>" + get_js_date(new Date().getTime()) + "</td>";
            html = html + "<td><a  class='label label-success label-as-badge update-task-group'><i class='fa fa-save'> Update</i></a></td>";
            html = html + "<td><a class='label label-danger label-as-badge delete-task-group'><i class='fa fa-trash'> Delete</i></a></td></tr>";
            var $this = $(e.target).parent().parent().parent();
            // Add to the table
            $(html).insertBefore($this);
        });
    }
</script>