<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#labelled-notes" data-toggle="tab">Notes</a></li>
        <li><a href="#labelled-tasks" data-toggle="tab">Tasks</a></li>
        <li><a href="#labelled-emails" data-toggle="tab">Emails</a></li>
    </ul>
    <div class="tab-content">
        <div id="labelled-notes" class="tab-pane active">
            <h6>Labelled Notes</h6>
        </div>
        <div id="labelled-tasks" class="tab-pane">
            <h6>Labelled Tasks</h6>
        </div>
        <div id="labelled-emails" class="tab-pane">
            <h6>Labelled Emails</h6>
        </div>
    </div>
</div>
