/**************************************************************************
**************************************************************************/
.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-name-card {
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

#dashboardPage {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

input.type1 {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #dddddd;
    border-radius: 0;
}

.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}

/*for priority div*/
#showPopover .popover-content{
    line-height: initial;
    padding: 0;
}

#showPopover ul .list-group-item{
    border: 0;
    padding: 4px;
}
.bootstrap-datetimepicker-widget tr:hover {
    background-color: #c2c2c2;
}
/**
* Hight of modal fixed
*/
.modal-dialog,
.modal-content {
    /* 80% of window height */
    height: 90%;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}

.compact {
    margin: 0;
    padding: 0px 5px 0px 5px;
}

a.notextdecorate a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: #333;
}

/************************************************************************************
 * Notebook CSS
 ***********************************************************************************/
.notebook-wrapper {
    /*padding-left: 0;*/
    /*padding-top: 10px;*/
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.notebook-wrapper.toggled {
    padding-left: 400px;
}

.notebook-sidebar-left {
    height: inherit;
    width: 50%;
    background-color: #fffbf1;
    float: left;
}

.notebook-sidebar-right {
    height: inherit;
    margin-left: 50%;
    background-color: #ffe8bf;
}

.notebook-sidebar-wrapper {
    /*z-index: 1000;*/
    position: fixed;
    left: 400px;
    width: 0;
    height: 100%;
    margin-left: -400px;
    overflow-y: auto;
    background: transparent;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.notebook-wrapper.toggled .notebook-sidebar-wrapper {
    width: 400px;
}

.notebook-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0px;
}

.notebook-wrapper.toggled .notebook-content-wrapper {
    position: absolute;
    margin-right: -400px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    width: 200px;
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    font-size: smaller;
    color: #333;
}

.notebook-sidebar-right > .tab-content {
    padding-top: 50px;
}

@media (min-width: 768px) {
    .notebook-wrapper {
        padding-left: 400px;
    }

    .notebook-wrapper.toggled {
        padding-left: 0;
    }

    .notebook-sidebar-wrapper {
        width: 400px;
    }

    .notebook-wrapper.toggled .notebook-sidebar-wrapper {
        width: 0;
    }

    .notebook-content-wrapper {
        /*padding: 20px;*/
        position: relative;
    }

    .notebook-wrapper.toggled .notebook-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.section-tabs-left {
    margin-left: 10px;
}

.section-tabs-left .nav-pills {
    margin-top: 50px;
    height: inherit;
    background-color: transparent;
    width: 200px;
}

.section-tabs-left > .nav-pills > li {
    float: none;
}

.section-tabs-left > .nav-pills > li > a {
    width: inherit;
    margin-right: 0;
    margin-bottom: 0px;
    padding: 2px;
}

.section-tabs-left > .nav-pills {
    float: left;
    margin-right: 0px;
    border-right: none;
}

.section-tabs-left > .nav-pills > li > a {
    margin-right: -1px;
    -webkit-border-radius: 0px 0 0 0px;
    -moz-border-radius: 0px 0 0 0px;
    border-radius: 0px 0 0 0px;
    color: #333;
    padding-left: 5px;
}

.section-tabs-left > .nav-pills > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.section-tabs-left > .nav-pills > li.active {
    background-color: #ffe8bf;
}

.section-tabs-left > .nav-pills > li.active > a {
    background-color: transparent;
    border-left: 4px solid #f2a82f;
    padding-right: 0;
    margin-right: 0;
}

.section-tabs-left > .nav-pills > li.active > a,
.section-tabs-left > .nav-pills > li.active > a:focus,
.section-tabs-left > .nav-pills > li.active > a:hover {
    color: #333;
}

/* Page starts */
.page-tabs-right {
    width: 200px;
    margin-left: 5px;
}

.page-tabs-right .nav-pills {
    height: inherit;
    border: none;
    width: 200px;
}

.page-tabs-right > .nav-pills > li {
    float: none;
}

.page-tabs-right > .nav-pills > li > a {
    margin-right: 0;
    margin-bottom: 0px;
    padding: 2px;
}

.page-tabs-right > .nav-pills > li.active > a {
    color: #333;
}

.page-tabs-right > .nav-pills {
    float: left;
    margin-right: 0px;
    border: none;
}

.page-tabs-right > .nav-pills > li > a {
    margin-right: -1px;
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    color: #333;
}

.page-tabs-right > .nav-pills > li > a:hover,
.page-tabs-right > .nav-pills > li > a:focus {

}

.page-tabs-right > .nav-pills .active > a,
.page-tabs-right > .nav-pills .active > a:hover,
.page-tabs-right > .nav-pills .active > a:focus {
    background-color: #f9f6f1;
}

.page-toggler {
    width: 20px;
    float: left;
}

.page-heading {
    margin-left: 35px;
}

.page-content {
    margin-left: 35px;
}

.page-content .panel {
    background-color: transparent;
}
.panel-default {
    border: hidden;
}
.note-control {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    background-color: rgba(15,15,15,0.6);
    border: 1px solid #e7e7e7;
    border-radius: 0px 0px 6px 6px;
    width: 100%;
}
.note-control .nav-pills li {
    padding-right: 10px;
}
.note-control .nav-pills li a {
    height: 25px;
    padding: 0;
}
.note-control a {
    color: #000;
}
p{
    font-size: 13px;
    margin: 0 0 1px;
}
textarea{
    resize: none;
}


/************************************************************************************
 * Email CSS
 ***********************************************************************************/
tr.unread>td>a {
    font-weight: bold;
}
.table-responsive{
    margin-bottom: -1px;
}
.ui-autocomplete {
    z-index: 5000;
}