
.nav-tabs .glyphicon:not(.no-margin) {
    margin-right:10px;
}
.tab-pane .list-group-item:first-child {
    border-top-right-radius: 0px;border-top-left-radius: 0px;
}
.tab-pane .list-group-item:last-child {
    border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;
}
.tab-pane .list-group .checkbox {
    display: inline-block;margin: 0px;
}
.tab-pane .list-group input[type="checkbox"] {
    margin-top: 2px;
}
.tab-pane .list-group .glyphicon {
    margin-right:5px;
}
.tab-pane .list-group .glyphicon:hover {
    color:#FFBC00;
}
a.list-group-item.read {
    color: #222;background-color: #F3F3F3;
}
hr {
    margin-top: 5px;margin-bottom: 10px;
}
.nav-pills>li>a {
    padding: 5px 10px;
}

.ad {
    padding: 5px;background: #F5F5F5;color: #222;font-size: 80%;border: 1px solid #E5E5E5;
}
.ad a.title {
    color: #15C;text-decoration: none;font-weight: bold;font-size: 110%;
}
.ad a.url {
    color: #093;text-decoration: none;
}


#list-inbox>tbody>tr.conversation-data>td {
    padding-top: 0px;
    padding-bottom: 0px;
}
#list-conversation-message>tbody>tr.conversation-data>td {
    padding-top: 0px;
    padding-bottom: 0px;
}

.conversation-header {
    background-color: #f4f4f4;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    min-height: 40px;
    line-height: 40px;
}
.conversation-header-unread {
    background-color: #fafbfd;
}
.conversation-content {
    display: none;
    background-color: #fafbfd;
}
.conversation-message-header {
    background-color: #f4f4f4;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    min-height: 40px;
    line-height: 40px;
}
.conversation-message-header.selected {
    background-color: #fafbfd;
    border-bottom: none;
}
.conversation-message-content {
    background-color: #fafbfd;
}
.show-trimmed-message {
    padding-top: 10px;
}
