html, body {
    height: 100%;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: small;
    font-weight: normal;
    color: #333;
    /*background-color: #fafbfd;*/
    background-color: #FFF;
}

.show {
    display: block;
}
.hidden {
    display: none;
}



/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
#notebook.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
#notebook.loading .loading-modal {
    display: block;
}


/** iPhone 5 */
@media (min-width: 198px) and (max-width: 330px) {
}
/** Nexus and Galaxy */
@media (min-width: 331px) and (max-width: 360px) {

}
/** Nexus and Galaxy */
@media (min-width: 361px) and (max-width: 768px) {

}
/** Nexus and Galaxy */
@media (min-width: 769px) {
    #base-modal .modal-dialog {
        width: 900px;
    }
    #base-modal-sm .modal-dialog {
        width: 600px;
        height: 400px;
    }
}
@media (min-width: 1201px) {
}
.disabled{
    pointer-events: none; opacity: 0.6;
}