.todolist h1 {
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
}

.form-control {
    border-radius: 0;
}

#add-task {
    padding: 10px 10px 10px 10px;
    border: 2px solid #66B84D;
    border-radius: 4px 4px 4px 4px;
}

.task-control-icons {
    padding-right: 2%;
}

.blue-text {
    color: #3779BC;
}

#active-task-list td.icons {
    width: 16px;
}

#active-task-list td {
    padding-top: 1px;
}

.label-as-badge {
    border-radius: 1em;
}

.editor-note {

}

