<form>
    <fieldset class="form-group">
        <!-- Form Name -->
        <legend>
            Add Notebook
        </legend>

        <label for="notebook-name">Notebook Name:</label>
        <div class="input-group">
            <input id="notebook-name" name="notebook-name" class="form-control" placeholder="Your notebook name" type="text">
            <span class="input-group-addon"></span>
        </div>
        <div>
            <small class="text-muted">Notebook is the container for all your notes.</small>
        </div>

        <br>
        <button type="button" class="btn btn-primary" onclick="javascript: add_notebook_name();">Add</button>
    </fieldset>
</form>