<div>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="noteTaskTitle" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input id="thisNoteID" type="hidden" type="text" value="<%- rc.noteID%>"/>
                <input id="noteTaskTitle" class="form-control input-sm type1" type="text" value=""/>
            </div>
        </div>
        <div class="form-group">
            <label for="noteTaskDueDate" class="col-sm-2 control-label">Due Date</label>
            <div class="col-sm-10">
                <input id="noteTaskDueDate" class="form-control input-sm type1" type="text"
                       style="color: black;" value=""/>
            </div>
        </div>
        <div class="form-group">
            <label for="noteTaskPriority" class="col-sm-2 control-label"> Priority</label>
            <div class="col-sm-10">
                <select class="form-control" id="noteTaskPriority">
                    <option value = 1>HIGH</option>
                    <option value = 2>MEDIUM</option>
                    <option value = 3>LOW</option>
                    <option value = 4>TRIVIAL</option>
                </select>
            </div>
        </div>
    </form>
</div>
<div>
    <button type="button" class="btn btn-success" id="noteTaskUpdate" data-dismiss="modal" onclick="javascript: create_task_for_note(event);">Update</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
