<form role="form">
    <div class="form-group border">
        <input type="hidden" id="notebook-id" value="<%- rc.notebookID %>">
        <input type="hidden" id="notebook-section-id" value="<%- rc.sectionID %>">
        <input type="hidden" id="notebook-page-id" value="<%- rc.pageID %>">
        <% if(rc.type == ENTITY_NB_SECTION) { %>
        <label for="section-page-name">Section Name:</label>

        <input type="text" class="form-control" id="section-section-name" value="<%- rc.sectionName %>">
        <button type="submit" data-dismiss="modal" id="update-section-name" class="btn btn-default" onclick="javascript: update_section_name(event);">Update</button>
        <button type="submit" data-dismiss="modal" class="btn btn-danger" id="delete-section" onclick="javascript: delete_section_name(event);">Delete</button>
        <% } else { %>
        <label for="section-page-name">Page Name:</label>

        <input type="text" class="form-control" id="section-page-name" value="<%- rc.pageName %>">
        <button type="submit" data-dismiss="modal" id="update-page-name" class="btn btn-default" onclick="javascript: update_page_name(event);">Update</button>
        <button type="submit" data-dismiss="modal" class="btn btn-danger" id="delete-section-page" onclick="javascript: delete_page_name(event);">Delete</button>
        <% } %>

    </div>
</form>
