<% var note_html_id = ''; %>
<% if(!rc.isNew) { %>
<% note_html_id = get_html_id_from_internal_id(rc.note.id); %>
<div class='panel panel-default' id="<%- note_html_id %>">
<% } else { %>
<div class='panel panel-default new-note'>
<% } %>
    <div class=' panel-body'>
        <div class='note-content'>
            <% if(!rc.isNew) { %>
            <div class='note' id="note_body_<%- note_html_id %>">
                <p><%= rc.note.noteBodyHtml %></p>
            <% } else { %>
            <div class='note'>
                <p><i>Write your note here...</i></p>
            <% } %>
            </div>
            <div class='note-control'>
                <ul class='nav nav-pills'>
                    <% if(!rc.isNew) { %>
                    <li>
                        <a href='#' data-toggle='tooltip' class='associative-editor' title='Open in Associative Editor' onclick='javascript: load_associative_editor_note(event);'>
                        <span class='label label-info label-as-badge'>
                            <i class='fa fa-life-saver'></i> Associative Editor
                        </span>
                        </a>
                    </li>
                    <li>
                        <a href='#' data-toggle='tooltip' class='create-task-forNote' title='Create task for this note' onclick='javascript: create_task_from_note(event);'>
                        <span class='label label-primary label-as-badge'>
                            <i class='fa fa-tasks'></i> Create Task
                        </span>
                        </a>
                    </li>
                    <li class='show-label'>
                        <% _.each(rc.note.labels, function (label, i) { %>
                        <span class='label label-as-badge label-warning tags' onclick="javascript: load_tagged_entities_by_label_name(event);">
                            <%- label.labelName %>
                        </span>
                        <% }); %>
                    </li>
                    <% } %>
                    <li class='pull-right'>
                        <a href='#' class='delete-note' data-toggle='tooltip' title='Delete this note'>
                            <span class='label label-as-badge label-danger'>Delete</span>
                        </a>
                    </li>
                    <li class='pull-right'>
                        <a href='#' class='update-note'>
                        <span class='label label-as-badge label-success'>
                            Update
                        </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>