<!-- Page Content -->
<% var html_page_id = get_html_id_from_internal_id(rc.page.id); %>
<% var toggler_id = 'toggler_' + html_page_id ; %>
<div class="tab-pane" id="page_content_<%- html_page_id %>">
    <!--<div class="notebook-content-wrapper">

    </div>-->
    <div class="container-fluid" style="padding-left: 1px;">
        <section>
            <div class="page-toggler">
                <button id="<%- toggler_id %>" type="reset"
                        style="padding: 0px 4px 0px 4px;" onclick="javascript: toggle_notebook_content(); ">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="page-heading">
                <div class="x_title page-name-edit" style="height: 30px; margin-bottom: 2px;">
                    <h4 style="margin-top: 0px;">
                        <%- rc.page.pageName%>
                    </h4>
                </div>
                <small><i><%- get_js_date(rc.page.createdTime) %></i></small>
            </div>
        </section>
        <div class="page-content">
            <button class='btn btn-success btn-xs add-new-note' onclick="javascript: add_new_note(event);">Add New Note</button>
        </div>
    </div>
</div>
