<% var html_notebook_id = get_html_id_from_internal_id(rc.notebook.id); %>
<div id="notebook-header" class="row no-margin">
    <div class="col-lg-3 col-md-3 col-xs-12">
        <input type="text" class="form-control" id="select-notebook" readonly style="background-color: #37BC99;color: white;width: 80%;">
        <input type="hidden" id="select-notebookID" readonly>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12">
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="pull-right">
            <a href="#" class="edit-notebooks" onclick="javascript: show_modal_edit_notebooks();">
                <span class="label label-info label-as-badge"><i class="fa fa-edit"></i>&nbsp; Edit Notebooks</span>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4" style="padding-left: 2%;">
        <small><em>Double click on section name or page name to update the names.</em></small>
    </div>
</div>
<div id="notebook-content" style="margin-top: 1%;">
    <div id="<%- html_notebook_id %>">
        <div class="notebook-wrapper">
            <!-- Sidebar -->
            <div class="notebook-sidebar-wrapper">
                <div class="notebook-sidebar-left">
                    <a style="color: #333; padding-right: 20px;" href="#"
                       data-toggle="tooltip" title="Add Section" onclick="javascript: add_section(event);">
                        <i class="fa fa-plus" style="padding-right: 3px;"></i>
                        Section
                    </a>

                    <div class="tabbable section-tabs-left">
                        <ul class="nav nav-pills">
                            <% _.each(rc.notebook.notebookSectionArray, function(section, index) { %>
                            <% var section_html_id = get_html_id_from_internal_id(section.id); %>
                            <% if(index==0) {%>
                            <li class="active" id="<%- section_html_id %>" onclick="javascript: change_page_content_on_section_click(event);">
                                <% } else {%>
                            <li id="<%- section_html_id %>" onclick="javascript: change_page_content_on_section_click(event);">
                                <% } %>
                                <a href='#section_content_<%- section_html_id%>' data-toggle="tab" ondblclick="javascript: edit_section_or_page(ENTITY_NB_SECTION);">
                                    <%- section.sectionName %>
                                </a>
                            </li>
                            <% }); %>
                        </ul>
                    </div>
                </div> <!-- /.notebook-sidebar-left -->

                <div class="notebook-sidebar-right">
                    <a style="color: #333; padding-right: 20px;" href="#"
                       data-toggle="tooltip" title="Add Page" onclick="javascript: add_page(event); ">
                        <i class="fa fa-plus" style="padding-right: 3px;"></i>
                        Page
                    </a>

                    <div class="tab-content">
                        <% _.each(rc.notebook.notebookSectionArray, function(section, section_index) { %>
                        <% var section_html_id = get_html_id_from_internal_id(section.id); %>
                        <% if(section_index==0) {%>
                        <div class="tab-pane active" id="section_content_<%- section_html_id %>">
                            <% } else {%>
                            <div class="tab-pane" id="section_content_<%- section_html_id %>">
                                <% } %>
                                <div class="tabbable page-tabs-right">
                                    <ul class="nav nav-pills">
                                        <% _.each(section.notebookSectionPageArray, function(page, page_index) { %>
                                        <% var page_html_id = get_html_id_from_internal_id(page.id); %>
                                        <% if(page_index == 0) { %>
                                        <li class="active" id="<%- page_html_id %>">
                                            <% } else { %>
                                        <li id="<%- page_html_id %>">
                                            <% } %>
                                            <a href="#page_content_<%- page_html_id%>" data-toggle="tab" ondblclick="javascript: edit_section_or_page(ENTITY_NB_PAGE);">
                                            <%- page.pageName %>
                                            </a>
                                        </li>
                                        <% }); %>
                                    </ul>
                                </div>
                            </div>
                            <% }); %>
                        </div> <!-- /.tab-content -->
                    </div> <!-- /.notebook-sidebar-right -->
                </div> <!--/notebook-sidebar-wrapper-->
                <!-- Page Content -->
                <div class="notebook-content-wrapper">
                    <div class="tab-content">
                        <!-- To be loaded once for every page -->
                    </div> <!--/tab-content-->
                </div> <!--/notebook-content-wrapper-->
            </div> <!--/notebook-wrapper-->
        </div>
</div>