<div>
    <%= rc.note.noteBodyHtml %>
</div>
<div style="margin-top: 5%;">
    <label class="col-sm-2 control-label">Labels</label>
    <ul id="at-label-note">
        <% _.each(rc.note.labels, function(label, index){ %>
        <li><%- label.labelName %></li>
        <% }); %>
    </ul>
</div>