<div class="col-md-5" style="margin-top: 3%;">
    <table class="table table-responsive table-striped list-note">
        <tbody>
            <% _.each(rc.noteList, function(note, index) { %>
            <% var noteHtmlID = get_html_id_from_internal_id(note.id) %>
            <tr style="line-height: normal;">
                <td>
                        <a href="#aet_<%- noteHtmlID %>" data-toggle="tab">
                            <%- get_snippet(get_simple_text(note.noteBody)) %>
                        </a>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<div class="col-md-7" style="margin-top: 3%;">
    <div class="tab-content">
        <% _.each(rc.noteList, function(note, index) { %>
        <% var noteHtmlID = get_html_id_from_internal_id(note.id); %>

        <% if(index==0) { %>
        <div class="tab-pane active" id="aet_<%- noteHtmlID %>">
        <% } else { %>
        <div class="tab-pane" id="aet_<%- noteHtmlID %>">
        <% } %>
                <%= note.noteBodyHtml %>
                <div style="margin-top: 5%;">
                    <% _.each(note.labelIDList, function(labelID, index){ %>
                    <% var label = USR_PROFILE.getLabelByID(labelID); %>
                    <span class='label label-as-badge label-warning'><%- label.labelName %></span>
                    <% }); %>
                </div>
        </div>
        <% }); %>
    </div>
</div>