<div class="col-md-5" style="margin-top: 3%;">
    <table class="table table-striped table-responsive list-task">
        <tbody>
        <% _.each(rc.taskList, function(task, index) { %>
        <% var taskHtmlID = get_html_id_from_internal_id(task.id); %>
        <tr style="line-height: normal;">
            <td>
                    <a href="#aet_<%- taskHtmlID %>" data-toggle="tab">
                        <%- get_snippet(get_simple_text(task.title)) %>
                    </a>
            </td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>
<div class="col-md-7" style="margin-top: 3%;">
    <div class="tab-content">
        <% _.each(rc.taskList, function(task, index) { %>
        <% var taskHtmlID = get_html_id_from_internal_id(task.id); %>
        <% if(index==0) { %>
        <div class="tab-pane active" id="aet_<%- taskHtmlID %>">
        <% } else { %>
        <div class="tab-pane" id="aet_<%- taskHtmlID %>">
        <% } %>
            <table class="table">
                <tbody>
                <tr>
                    <td>Title</td>
                    <td><%- task.title %></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><%- task.taskBody %></td>
                </tr>
                <tr>
                    <td>Created on</td>
                    <td><%- task.createdTimeString %></td>
                </tr>
                <tr>
                    <td>Due Date</td>
                    <td><%- get_js_date(task.dueDate) %></td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td><%- get_task_status_string(task.status) %></td>
                </tr>
                <tr>
                    <td>Priority</td>
                    <td><%- get_task_priority_string(task.priority) %></td>
                </tr>
                <tr>
                    <td>Labels</td>
                    <td><% _.each(task.labelIDList, function(labelID, index){ %>
                        <% var label = USR_PROFILE.getLabelByID(labelID); %>
                        <span class='label label-as-badge label-warning'><%- label.labelName %></span>
                        <% }); %>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <% }); %>
    </div>
</div>