<div class="col-md-5" style="margin-top: 3%;">
    <table class="table table-striped table-responsive">
        <tbody>
        <% _.each(rc.conversationList, function(conversation, index) { %>
        <% var conversationHtmlID = get_html_id_from_internal_id(conversation.id); %>
        <tr style="line-height: normal;">
            <td>
                <a href="#aet_<%- conversationHtmlID %>" data-toggle="tab">
                    <%- conversation.messageList[0].subject %>
                </a>
            </td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>
<div class="col-md-7" style="margin-top: 3%;">
    <div class="tab-content">
        <% _.each(rc.conversationList, function(conversation, index) { %>
        <% var conversationHtmlID = get_html_id_from_internal_id(conversation.id); %>
        <% if(index==0) { %>
        <div class="tab-pane active" id="aet_<%- conversationHtmlID %>">
            <% } else { %>
            <div class="tab-pane" id="aet_<%- conversationHtmlID %>">
                <% } %>
                <div class="conversation-labels" style="margin-bottom: 2%;">
                    <% _.each(conversation.labels, function(label, index){ %>
                <span class='label label-as-badge label-warning tags' style="margin-right: 2%;">
                    <%- label.labelName %>
                </span>
                    <% }); %>
                </div>
                <div style="margin-top: 3%;">
                    <% _.each(conversation.messageList, function(message, mIndex) { %>
                    <% var messageHtmlID = get_html_id_from_internal_id(message.id); %>
                    <div class="conversation-message">
                        <div class="conversation-message-header">
                            <div class="clearfix">
                                <!-- Conversation message header left -->
                                <div class="col-md-7" style="line-height: normal;">
                                    From: <b><%- get_message_from(message) %></b>
                                </div>
                                <!-- Conversation message header right -->
                                <div class="col-md-2" style="line-height: normal;">
                                    <b><%- message.internalDateString %></b>
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="col-md-9"
                                     style="line-height: normal; overflow-x: hidden; white-space: nowrap;">
                                    <%= message.snippet %>
                                </div>
                            </div>
                        </div>
                        <div class="conversation-message-content hide" style="background-color: transparent;">
                            <%= decode_email_base64(message.messageHtml) %>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
            <% }); %>
        </div>
    </div>