<div class="col-md-5" style="margin-top: 3%;">
    <table class="table table-striped table-responsive list-email">
        <tbody>
        <% _.each(rc.messageList, function(message, index) { %>
        <% var messageHtmlID = get_html_id_from_internal_id(message.id); %>
        <tr style="line-height: normal;">
            <td>
                    <a href="#aet_<%- messageHtmlID %>" data-toggle="tab">
                        <%- message.subject %>
                    </a>
            </td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>
<div class="col-md-7" style="margin-top: 3%;">
    <div class="tab-content">
        <% _.each(rc.messageList, function(message, index) { %>
        <% var messageHtmlID = get_html_id_from_internal_id(message.id); %>
        <% if(index==0) { %>
        <div class="tab-pane active" id="aet_<%- messageHtmlID %>">
        <% } else { %>
        <div class="tab-pane" id="aet_<%- messageHtmlID %>">
        <% } %>
            <div class="conversation-message-header">
                <div class="clearfix">
                    <!-- Conversation message header left -->
                    <div class="col-md-7" style="line-height: normal;">
                        From: <b><%- get_message_from(message) %></b>
                    </div>
                    <!-- Conversation message header right -->
                    <div class="col-md-2" style="line-height: normal;">
                        <b><%- message.internalDateString %></b>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-md-8"
                         style="line-height: normal; overflow-x: hidden; white-space: nowrap;">
                        <%= message.snippet %>
                    </div>
                </div>
            </div>
            <div class="conversation-message-content">
                <%= decode_email_base64(message.messageHtml) %>
            </div>
        </div>
        <% }); %>
    </div>
</div>