<!-- Modal -->
<div class="modal fade" id="create-label" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create New Label</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="labelCreation">
                    <div class="form-group">
                        <label for="createLabel" class="col-sm-2 control-label">Label Name:</label>
                        <div class="col-sm-10">
                            <input id="createLabel" class="form-control input-sm type1" type="text" value=""/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="createNewUserLabel" data-dismiss="modal">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script>
    function init_label_create() {
        $('#create-label').on('hidden.bs.modal', function () {
            $(this).remove();
            $('.modal-backdrop').remove();
        });
        $('#createNewUserLabel').on('click', function (event) {
            var newLabelName = $('#createLabel').val();
            var createdTime = moment().utc().valueOf();
            var newLabel = new Object();
            newLabel.labelName = newLabelName;
            newLabel.createdTime = createdTime;

            //call to create new label
            create_label_call(newLabel, true, function (label) {
                if (label instanceof DigitaryWebError) {
                    console.log("Cannot create label");
                }
                else {
                    console.log("New label has been created");
                    var labelHtmlID = get_html_id_from_internal_id(label.id);
                    //var labelName = USR_PROFILE.getLabelByID(label.id);
                    var newLabelList = "<li class='list-group-item'><input type='checkbox' id='checkbox_"+ label.labelName +"' value='"+ label.labelName+"'>"+label.labelName+"</li>";
                    $('#check-list-box').append(newLabelList);
                }

            });
        });
    }
</script>