<div class="row no-margin">
    <div class="col-lg-9 col-md-9 col-xs-12">
    </div>
    <div class="col-lg-2 col-md-2 col-xs-12">
        <div class="pull-right">
            <a href="#" class="create-label" onclick="javascript: show_modal_create_new_label();">
                        <span class="label label-info label-as-badge"><i
                                class="fa fa-edit"></i>&nbsp; Create Label</span>
            </a>
        </div>
    </div>
</div>
<div id="label-content">
    <h6>Select Multiple Labels to Search Entities</h6>

    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-target="#labelList" data-toggle="tab">Labels</a>
                </li>
                <li>
                    <a data-target="#labelGroupList" data-toggle="tab">Label Groups</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="labelList" class="tab-pane active" style="background: transparent;">
                    <div>
                        <a href="#" class="pull-left" style="margin-left: 20px;">Select All</a>
                        <a href="#" class="pull-right" style="margin-right: 20px;">Unselect All</a>
                    </div>
                    <br>
                    <div class="well">
                        <ul id="check-list-box" class="list-group">
                            <% _.each(rc.labels, function(label, index) { %>
                            <li class="list-group-item">
                                <input type="checkbox" value="<%- label.labelName %>">
                                <%- label.labelName %>
                            </li>
                            <% }); %>
                        </ul>
                        <br/>
                        <button style="padding-top: 5%;" class="btn btn-primary"
                                onclick="javascript: search_entities_labels();">
                            Search Content
                        </button>
                    </div>
                </div>
                <div id="labelGroupList" class="tab-pane" style="background: transparent;">

                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div id="label-search-content" style="background: transparent;">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tagged-notes" data-toggle="tab">Notes</a></li>
                        <li><a href="#tagged-tasks" data-toggle="tab">Tasks</a></li>
                        <li><a href="#tagged-emails" data-toggle="tab">Emails</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tagged-notes" class="tab-pane active">

                        </div>
                        <div id="tagged-tasks" class="tab-pane">

                        </div>
                        <div id="tagged-emails" class="tab-pane">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>