<form>
    <fieldset class="form-group">
        <!-- Form Name -->
        <legend>
            Add Email Account
        </legend>

        <label for="email-address">Email address:</label>
        <div class="input-group">
            <input id="email-address" name="email-address" class="form-control" placeholder="Your email address" type="text">
            <span class="input-group-addon"><i><b>@gmail.com</b></i></span>
        </div>
        <div>
            <small class="text-muted">Currently, we only support Gmail account.</small>
        </div>
        <div>
            <small class="text-muted">We <b>do not</b> save your email data on our servers. We only request Google servers for the data.</small>
        </div>
        <div>
            <small class="text-muted">On clicking "Add", you will be taken to Google's acceptence screen.</small>
        </div>
        <br>
        <button type="button" class="btn btn-primary" onclick="javascript: add_email_account(event);">Add</button>
    </fieldset>
</form>