<input type="hidden" id="aet-entity" value="">
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#email-details" data-toggle="tab">Email Details</a></li>
        <li><a href="#tasks-association" data-toggle="tab">Task Association</a></li>
        <li><a href="#notes-association" data-toggle="tab">Note Association</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="email-details">
            <br>

        </div>
        <div class="tab-pane" id="tasks-association">
            <br>
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#existing-task-association" data-toggle="tab">Existing Association</a></li>
                    <li><a href="#new-task-association" data-toggle="tab">Add New Association</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="existing-task-association">
                        <div class="clearfix" style="min-height: 60%;">

                        </div>
                        <div class="clearfix" style="vertical-align: bottom;">
                            <button type="submit" class="btn btn-danger"
                                    onclick="javascript: remove_association_email_to_task(event); "
                                    title="Remove selected note association">Remove Association
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <div class="tab-pane" id="new-task-association">
                        <div class="clearfix">
                            <div class="col-md-12">
                                <div class="input-group" style="padding: 10px;">
                                    <input type="text" class="form-control" id="search-tasks"
                                           placeholder="Search Tasks">

                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"
                                                onclick="javascript: search_tasks(event);">
                                            <i class="glyphicon glyphicon-search"/>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="col-md-12" id="aet-task-search">

                            </div>
                        </div>
                        <div class="clearfix">
                            <button type="submit" class="btn btn-success"
                                    onclick="javascript: create_association_email_to_task(event); ">Add Association
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="tab-pane" id="notes-association">
            <br>
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#existing-note-association" data-toggle="tab">Existing Association</a>
                    </li>
                    <li><a href="#new-note-association" data-toggle="tab">Add New Association</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="existing-note-association">
                        <div class="clearfix" style="min-height: 60%;">

                        </div>
                        <div class="clearfix" style="vertical-align: bottom;">
                            <button type="submit" class="btn btn-danger"
                                    onclick="javascript: remove_association_email_to_note(event); "
                                    title="Remove selected note association">Remove Association
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <div class="tab-pane" id="new-note-association">
                        <div class="clearfix">
                            <div class="col-md-12">
                                <div class="input-group" style="padding: 10px;">
                                    <input type="text" class="form-control" id="search-notes"
                                           placeholder="Search Notes">

                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"
                                                onclick="javascript: search_notes(event);">
                                            <i class="glyphicon glyphicon-search"/>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="col-md-12" id="aet-note-search">

                            </div>
                        </div>
                        <div class="clearfix">
                            <button type="submit" class="btn btn-success"
                                    onclick="javascript: create_association_email_to_note(event); ">Add Association
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>