<div class="row" style="margin-left: 1%;">
    <div class="col-md-2" style="padding-left: 2%;">
        <a class="btn btn-danger btn-sm btn-block" role="button" onclick="javascript: load_compose_email(event);"><i class="glyphicon glyphicon-edit"></i> Compose
        </a>
    </div>
    <div class="col-md-10" style="padding-right: 1%;">
        <a class="btn btn-default btn-sm btn-block" role="button" onclick="javascript: refresh_inbox(event);">
            Refresh
        </a>
    </div>
</div>
<hr style="margin-left: 3%; margin-right: 3%;">
<div id="email-content" class="col-md-12">
    <div class="clearfix">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a href="#inbox" data-toggle="tab">Inbox</a>
                </li>
                <li>
                    <a href="#archive" data-toggle="tab">Archive</a>
                </li>
                <li>
                    <a href="#sent" data-toggle="tab">Sent</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10" id="email-content-right">
            <div class="tab-content">
                <div class="tab-pane active" id="inbox">
                    <table id="table-inbox" class="table table-responsive">
                        <tbody>
                            <% _.each(rc.emails, function(conversation, index) { %>
                            <% if (!conversation.archived) { %>
                            <% var conversationHtmlID = get_html_id_from_internal_id(conversation.id); %>
                            <tr id="row_<%- conversationHtmlID %>" onclick="javascript: message_status_check(event);">
                                <% var conversationFrom = get_conversation_from(conversation); %>
                                <% var conversationSubject = get_conversation_subject(conversation); %>
                                <td class="col-md-3 details-control">
                                    <a class="notextdecorate" href="#">
                                        <%- conversationFrom %>&nbsp;(<%- conversation.unreadMessageCount %>)
                                    </a>
                                </td>
                                <td class="col-md-8 details-control">
                                    <a class="notextdecorate" href="#">
                                        <%- conversationSubject %>
                                    </a>
                                </td>
                                <td data-order="<%- conversation.internalDate %>" class="col-md-1 details-control" style="padding: 0;">
                                    <a class="notextdecorate" href="#">
                                        <%- conversation.internalDateString %>
                                    </a>
                                </td>
                            </tr>
                            <tr id="<%- conversationHtmlID %>" class="hidden">
                                <td colspan="3">
                                    <div>
                                        <div class="conversation-header">
                                            <div class="conversation-label">
                                                <p>Add/Remove labels here.</p>
                                                <ul id="conversation-label-<%- conversationHtmlID %>">
                                                    <% _.each(conversation.labelIDList, function(labelID, index){ %>
                                                    <% var label = USR_PROFILE.getLabelByID(labelID); %>
                                                    <li><%- label.labelName %></li>
                                                    <% }); %>
                                                </ul>
                                            </div>
                                            <button class="btn btn-info btn-xs" title="Move conversation to archive" onclick="javascript: move_conversation_to_archive(event);">Move to Archive</button>
                                            <button class="btn btn-danger btn-xs" title="Delete conversation" onclick="javascript: delete_conversation(event);">Delete</button>
                                        </div>
                                        <div>
                                            <div class="panel-group">
                                                <% _.each(conversation.messageList, function(message, mIndex) { %>
                                                <% var messageHtmlID = get_html_id_from_internal_id(message.id); %>
                                                <% var messageHtml = decode_email_base64(message.messageHtml); %>
                                                <% var splits = split_email_html_message(messageHtml); %>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading compact">
                                                        <table class="table table-responsive">
                                                            <tr style="background: #F5F5F5";>
                                                                <td class="col-md-3">
                                                                    <div>
                                                                        <a class="notextdecorate" href="#<%- messageHtmlID%>" data-toggle="collapse">
                                                                            <%- message.from %>
                                                                        </a>
                                                                    </div>
                                                                    <div>
                                                                        <%- message.internalDateString %>
                                                                    </div>
                                                                </td>
                                                                <td class="col-md-1">
                                                                    <a href='#' data-toggle='tooltip' title='Open in Associative Editor'
                                                                       onclick='javascript: load_associative_editor_email(event);'>
                                                                <span class='label label-info label-as-badge'>
                                                                    <i class='fa fa-life-saver'></i> Associative Editor
                                                                </span>
                                                                    </a>
                                                                </td>
                                                                <td class="col-md-1">
                                                                    <a href='#' data-toggle='tooltip' title='Create task for this email'
                                                                       onclick='javascript: load_task_editor_from_email(event);'>
                                                                <span class='label label-primary label-as-badge'>
                                                                    <i class='fa fa-tasks'></i> Create Task
                                                                </span>
                                                                    </a>
                                                                </td>
                                                                <td class="col-md-1">
                                                                    <a href='#' data-toggle='tooltip' title='Create note for this email'
                                                                       onclick='javascript: load_note_editor_from_email(event);'>
                                                                <span class='label label-primary label-as-badge'>
                                                                    <i class='fa fa-sticky-note'></i> Create Note
                                                                </span>
                                                                    </a>
                                                                </td>
                                                                <td class="col-md-1">
                                                                    <a href='#' title='Reply'
                                                                       onclick='javascript: load_reply_email(event);'>
                                                                <span class='label label-primary label-as-badge'>
                                                                    <i class='fa fa-reply'></i> Reply
                                                                </span>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <% if (message.unread) { %>
                                                    <div id="<%- messageHtmlID%>" class="panel-collapse collapse in">
                                                        <% } else { %>
                                                        <div id="<%- messageHtmlID%>" class="panel-collapse collapse">
                                                            <% } %>
                                                            <%= splits[0] %>
                                                            <% if(splits.length > 1) { %>
                                                            <div class="show-trimmed-message">
                                                                <a href="#" data-toggle="tooltip" title="Show trimmed content">
                                                                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                                                                </a>
                                                            </div>
                                                            <div class="message-extra hide">
                                                                <%= splits[1] %>
                                                            </div>
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                    <% }); %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <% } %>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="archive">
                    <table id="table-archive" class="table table-responsive">
                        <tbody>
                        <% _.each(rc.emails, function(conversation, index) { %>
                        <% if (conversation.archived) { %>
                        <% var conversationHtmlID = get_html_id_from_internal_id(conversation.id); %>
                        <tr id="row_<%- conversationHtmlID %>">
                            <% var conversationFrom = get_conversation_from(conversation); %>
                            <% var conversationSubject = get_conversation_subject(conversation); %>
                            <td class="col-md-3 details-control">
                                <a class="notextdecorate" href="#">
                                    <%- conversationFrom %>
                                </a>
                            </td>
                            <td class="col-md-8 details-control">
                                <a class="notextdecorate" href="#">
                                    <%- conversationSubject %>
                                </a>
                            </td>
                            <td data-order="<%- conversation.internalDate %>" class="col-md-1 details-control" style="padding: 0">
                                <a class="notextdecorate" href="#">
                                    <%- conversation.internalDateString %>
                                </a>
                            </td>
                        </tr>
                        <tr id="<%- conversationHtmlID %>" class="hidden">
                            <td colspan="3">
                                <div>
                                    <div class="conversation-header">
                                        <div class="conversation-label">
                                            <ul id="conversation-label-<%- conversationHtmlID %>">
                                                <% _.each(conversation.labelIDList, function(labelID, index){ %>
                                                <% var label = USR_PROFILE.getLabelByID(labelID); %>
                                                <li><%- label.labelName %></li>
                                                <% }); %>
                                            </ul>
                                        </div>
                                        <!--<button class="btn btn-info btn-xs" title="Move conversation to archive" onclick="javascript: move_conversation_to_archive();">Move to Archive</button>-->
                                        <button class="btn btn-danger btn-xs" title="Delete conversation" onclick="javascript: delete_conversation(event);">Delete</button>
                                    </div>
                                    <div>
                                        <div class="panel-group">
                                            <% _.each(conversation.messageList, function(message, mIndex) { %>
                                            <% var messageHtmlID = get_html_id_from_internal_id(message.id); %>
                                            <% var messageHtml = decode_email_base64(message.messageHtml); %>
                                            <% var splits = split_email_html_message(messageHtml); %>
                                            <div class="panel panel-default">
                                                <div class="panel-heading compact">
                                                    <table class="table table-responsive">
                                                        <tr style="background: #F5F5F5";>
                                                            <td class="col-md-3">
                                                                <div>
                                                                    <a class="notextdecorate" href="#<%- messageHtmlID%>" data-toggle="collapse">
                                                                        <%- message.from %>
                                                                    </a>
                                                                </div>
                                                                <div>
                                                                    <%- message.internalDateString %>
                                                                </div>
                                                            </td>
                                                            <td class="col-md-1">
                                                                <a href='#' data-toggle='tooltip' title='Open in Associative Editor'
                                                                   onclick='javascript: load_associative_editor_email(event);'>
                                                                <span class='label label-info label-as-badge'>
                                                                    <i class='fa fa-life-saver'></i> Associative Editor
                                                                </span>
                                                                </a>
                                                            </td>
                                                            <td class="col-md-1">
                                                                <a href='#' data-toggle='tooltip' title='Create task for this email'
                                                                   onclick='javascript: load_task_editor_from_email(event);'>
                                                                <span class='label label-primary label-as-badge'>
                                                                    <i class='fa fa-tasks'></i> Create Task
                                                                </span>
                                                                </a>
                                                            </td>
                                                            <td class="col-md-1">
                                                                <a href='#' data-toggle='tooltip' title='Create note for this email'
                                                                   onclick='javascript: load_note_editor_from_email(event);'>
                                                                <span class='label label-primary label-as-badge'>
                                                                    <i class='fa fa-sticky-note'></i> Create Note
                                                                </span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <% if (message.unread) { %>
                                                <div id="<%- messageHtmlID%>" class="panel-collapse collapse in">
                                                    <% } else { %>
                                                    <div id="<%- messageHtmlID%>" class="panel-collapse collapse">
                                                        <% } %>
                                                        <%= splits[0] %>
                                                        <% if(splits.length > 1) { %>
                                                        <div class="show-trimmed-message">
                                                            <a href="#" data-toggle="tooltip" title="Show trimmed content">
                                                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                                                            </a>
                                                        </div>
                                                        <div class="message-extra hide">
                                                            <%= splits[1] %>
                                                        </div>
                                                        <% } %>
                                                    </div>
                                                </div>
                                                <% }); %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <% } %>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="sent">

                </div>
            </div>
        </div>
    </div>
</div>
