<div class="conversation-content">
    <h6><%- rc.conversation.conversationSubject %></h6>
    <div class="conversation-content-controls">
        <a href='#' data-toggle='tooltip' class='associative-editor-email' title='Open in Associative Editor'>
            <span class='label label-info label-as-badge'>
                <i class='fa fa-life-saver'></i>
                Associative Editor
            </span>
        </a>
    </div>
    <div class="conversation-message-container">
        <% _.each(rc.conversation.messageList, function(message, mIndex) { %>
        <% var messageHtmlID = get_html_id_from_internal_id(message.id); %>
        <% var messageHtml = decode_email_base64(message.messageHtml); %>
        <% var splits = split_email_html_message(messageHtml); %>
        <div id="<%- messageHtmlID %>" class="conversation-message">
            <% if(message.unread) { %>
            <div class="conversation-message-header selected">
            <% } else { %>
            <div class="conversation-message-header">
            <% } %>
                <div class="clearfix">
                    <!-- Conversation message header left -->
                    <!-- NOTE: Do not give line break to the following line. It uses <pre> element, -->
                    <div class="col-md-11" style="line-height: normal;">
                        From: <b><%- get_message_from(message) %></b>
                    </div>
                    <!-- Conversation message header right -->
                    <div class="col-md-1" style="line-height: normal;">
                        <b><%- message.internalDateString %></b>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-md-11" style="line-height: normal; overflow-x: hidden; white-space: nowrap;">
                        <%= message.snippet %>
                    </div>
                </div>
            </div>
            <% if(message.unread) { %>
            <div class="conversation-message-content show">
            <% } else { %>
            <div class="conversation-message-content hide">
            <% } %>
                <%= splits[0] %>
                <% if(splits.length > 1) { %>
                <div class="show-trimmed-message">
                    <a href="#" data-toggle="tooltip" title="Show trimmed content">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="message-extra hide">
                    <%= splits[1] %>
                </div>
                <% } %>
            </div>
        </div>
        <% }); %>
    </div>
 </div>