<% _.each(rc.emails, function(conversation, index) { %>
<% var conversationHtmlID = get_html_id_from_internal_id(conversation.id); %>
<tr id="row_<%- conversationHtmlID %>" onclick="javascript: message_status_check();">
    <% var conversationFrom = get_conversation_from(conversation); %>
    <% var conversationSubject = get_conversation_subject(conversation); %>
    <td class="col-md-3 details-control">
        <a class="notextdecorate" href="#">
            <%- conversationFrom %>&nbsp;(<%- conversation.unreadMessageCount %>)
        </a>
    </td>
    <td class="col-md-8 details-control">
        <a class="notextdecorate" href="#">
            <%- conversationSubject %>
        </a>
    </td>
    <td data-order="<%- conversation.internalDate %>" class="col-md-1 details-control" style="padding: 0;">
        <a class="notextdecorate" href="#">
            <%- conversation.internalDateString %>
        </a>
    </td>
</tr>
<tr id="<%- conversationHtmlID %>" class="hidden">
    <td colspan="3">
        <div>
            <div class="conversation-header">
                <div class="conversation-label">
                    <p>Add/Remove labels here.</p>
                    <ul id="conversation-label-<%- conversationHtmlID %>">
                        <% _.each(conversation.labelIDList, function(labelID, index){ %>
                        <% var label = USR_PROFILE.getLabelByID(labelID); %>
                        <li><%- label.labelName %></li>
                        <% }); %>
                    </ul>
                </div>
                <button class="btn btn-info btn-xs" title="Move conversation to archive" onclick="javascript: move_conversation_to_archive(event);">Move to Archive</button>
                <button class="btn btn-danger btn-xs" title="Delete conversation" onclick="javascript: delete_conversation(event);">Delete</button>
            </div>
            <div>
                <div class="panel-group">
                    <% _.each(conversation.messageList, function(message, mIndex) { %>
                    <% var messageHtmlID = get_html_id_from_internal_id(message.id); %>
                    <% var messageHtml = decode_email_base64(message.messageHtml); %>
                    <% var splits = split_email_html_message(messageHtml); %>
                    <div class="panel panel-default">
                        <div class="panel-heading compact">
                            <table class="table table-responsive">
                                <tr style="background: #F5F5F5";>
                                    <td class="col-md-3">
                                        <div>
                                            <a class="notextdecorate" href="#<%- messageHtmlID%>" data-toggle="collapse">
                                                <%- message.from %>
                                            </a>
                                        </div>
                                        <div>
                                            <%- message.internalDateString %>
                                        </div>
                                    </td>
                                    <td class="col-md-1">
                                        <a href='#' data-toggle='tooltip' title='Open in Associative Editor'
                                           onclick='javascript: load_associative_editor_email(event);'>
                                                                <span class='label label-info label-as-badge'>
                                                                    <i class='fa fa-life-saver'></i> Associative Editor
                                                                </span>
                                        </a>
                                    </td>
                                    <td class="col-md-1">
                                        <a href='#' data-toggle='tooltip' title='Create task for this email'
                                           onclick='javascript: load_task_editor_from_email(event);'>
                                                                <span class='label label-primary label-as-badge'>
                                                                    <i class='fa fa-tasks'></i> Create Task
                                                                </span>
                                        </a>
                                    </td>
                                    <td class="col-md-1">
                                        <a href='#' data-toggle='tooltip' title='Create note for this email'
                                           onclick='javascript: load_note_editor_from_email(event);'>
                                                                <span class='label label-primary label-as-badge'>
                                                                    <i class='fa fa-sticky-note'></i> Create Note
                                                                </span>
                                        </a>
                                    </td>
                                    <td class="col-md-1">
                                        <a href='#' title='Reply'
                                           onclick='javascript: load_reply_email(event);'>
                                                                <span class='label label-primary label-as-badge'>
                                                                    <i class='fa fa-reply'></i> Reply
                                                                </span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <% if (message.unread) { %>
                        <div id="<%- messageHtmlID%>" class="panel-collapse collapse in">
                            <% } else { %>
                            <div id="<%- messageHtmlID%>" class="panel-collapse collapse">
                                <% } %>
                                <%= splits[0] %>
                                <% if(splits.length > 1) { %>
                                <div class="show-trimmed-message">
                                    <a href="#" data-toggle="tooltip" title="Show trimmed content">
                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div class="message-extra hide">
                                    <%= splits[1] %>
                                </div>
                                <% } %>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>
<% }); %>