<input type="hidden" id="emailConversationID" value="<%- rc.conversationID %>">
<div>
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2" for="inputReplyTo">To</label>

            <div class="col-md-10"><input type="email" class="form-control" id="inputReplyTo"
                                          placeholder="comma separated list of recipients", value="<%- rc.replyMesssage %>">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2" for="inputReplySubject">Subject</label>

            <div class="col-md-10"><input type="text" class="form-control" id="inputReplySubject"
                                          placeholder="subject" value="<%- rc.subject %>"></div>
        </div>
        <div class="form-group">
            <label class="col-md-12" for="create-reply-email-message">Message</label>
            <div class="col-md-12">
                <textarea class="form-control" id="create-reply-email-message"/>
            </div>
        </div>
    </form>
</div>
<div>
    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel
    </button>
    <button type="button" class="btn btn-warning pull-left">Save Draft</button>
    <button type="button" class="btn btn-primary " onclick="javascript: email_message_reply(event);" data-dismiss="modal">Send <i
            class="fa fa-arrow-circle-right fa-lg"></i></button>

</div>
