<div class="conversation-message-header">
    <div class="clearfix">
        <!-- Conversation message header left -->
        <div class="col-md-11" style="line-height: normal;">
            From: <b><%- get_message_from(rc.message) %></b>
        </div>
        <!-- Conversation message header right -->
        <div class="col-md-1" style="line-height: normal;">
            <b><%- rc.message.internalDateString %></b>
        </div>
    </div>
    <div class="clearfix">
        <div class="col-md-11"
             style="line-height: normal; overflow-x: hidden; white-space: nowrap;">
            <%= rc.message.snippet %>
        </div>
    </div>
</div>
<div class="conversation-message-content">
    <% var splits= split_email_html_message(decode_email_base64(rc.message.messageHtml)); %>
    <%= splits[0] %>
    <% if(splits.length > 1) { %>
    <div class="show-trimmed-message">
       <a href="#" data-toggle="tooltip" title="Show trimmed content">
           <i class="fa fa-plus-square" aria-hidden="true"></i>
       </a>
    </div>
    <div class="message-extra hide">
        <%= splits[1] %>
    </div>
    <% } %>
</div>